/*
 * Written By YuXLan
 */

*{
	padding: 0;
	margin: 0;
}

body{
	background: rgb(242, 242, 242);
}

html,body{
	width: 100%;
	height: 100%;
}



/* 登录注册部分 */



/*  轮播图部分  */


/* 侧边图片部分 */



/*  主体新闻部分  */




/* 侧边新闻部分 */



/* 页尾部分 */
