@charset "utf-8";

/*
 * Written By YuXLan
 * 2017-7-18
 */

*{
	padding: 0;
	margin: 0;
}

html,
body{
	width: 100%;
	height: 100%;
	font-size: 100%;
	font-family: "Helvetica Neue", "Microsoft YaHei", 微软雅黑, STHeiti, "WenQuanYi Micro Hei", SimSun, Arial, Helvetica, sans-serif;
}

body{
	background: rgb(242, 242, 242);
}

a{
	color: #000000;
}



/* 顶部导航部分 */

.navbar-container{
	width: 100%;
	height: 11.8%;
	background: #FFFFFF;
	border: 1px solid #dfdfdf;
}

.navbar-container img{
	width: 35.5%;
	height: 250%;
	margin: 3.7% 0 0 -6%;
}

ul.navbar-small-nav{
	width: 20.6%;
	float: right;
	margin: 0.3% 0 0 0;
	list-style: none;
}

ul.navbar-small-nav > li:nth-child(1),
ul.navbar-small-nav > li:nth-child(2),
ul.navbar-small-nav > li:nth-child(3){
	list-style: none;
	text-align: center;
	float: left;
}

ul.navbar-small-nav > li:nth-child(1){
	width: 42%;
}

ul.navbar-small-nav > li:nth-child(2){
	width: 31%;
}

ul.navbar-small-nav > li:nth-child(3){
	width: 27%;
}

ul.navbar-small-nav a:link,
ul.navbar-small-nav a:visited{
	color: #999999;
	font-size: .7em;
	background: none;
}

ul.navbar-small-nav a:hover,
ul.navbar-small-nav a:active{
	color: #999999;
	font-size: .7em;
	background: none;
	text-decoration: none;
}

ul.navbar-main-nav{
	width: 90%;
	margin: -0.8% 0 0 15.15%;
	float: left;
	list-style: none;
}

ul.navbar-main-nav > li{
	width: 8.2%;
	text-align: center;
	float: left;
}

ul.navbar-main-nav > li:nth-child(3){
	width: 11.6%;
	text-align: center;
	float: left;
}

ul.navbar-main-nav a,
ul.navbar-main-nav a:visited{
	font-size: 1.13em;
	background: none;
}

ul.navbar-main-nav a:hover,
ul.navbar-main-nav a:active,
a.active{
	color: #0047ff;
	text-decoration: none;
	padding-bottom: 7.5%;
	border-bottom: 0.1em solid #0047ff;
	font-size: 1.13em;
	background: none;
}



/* 登录表单部分 */

.login-form{
	width: 25%;
	margin: 10% 0 8% 35%;
	padding-bottom: 1%;
	background: #FFFFFF;
}

.login-form .close{
	font-size: 2em;
	margin-right: 5%;
	margin-top: 2%;
}

.login-form-header{
	width: 100%;
	height: 3.5em;
	background: #FBFBFB;
	border-bottom: 1px solid #F2F2F2;
	padding: 2% 0 2% 8%;
	margin-bottom: 4%;
}

.login-quikly{
	color: #000000;
	font-size: .8em;
	float: right;
	margin-right: 4%;
}

.login-quikly > img{
	width: 15%;
}

.login-quikly:hover{
	color: #0047ff;
	font-size: .8em;
	float: right;
	margin-right: 4%;
}

.login-form form{
	margin: 0 0 3% 0;
}


.login-form form input{
	width: 86%;
	height: 2.8em;
	margin: 5% 6% 0 8%;
	border: 1px solid #d9d9d9;
}

.login-form #remember{
	height: .8em;
	margin: 5% 0 0 0;
	margin-left: -33%;
}

.login-form p{
	display: inline;
	margin-left: -41%;
	font-size: .8em;
}

.login-have-question{
	color: #0044CC;
	font-size: .8em;
	margin-left: 41%;
}

.login-have-question:hover{
	color: #0047ff;
	font-size: .8em;
	margin-left: 41%;
}

.login-form .btn-primary{
	background: #0044CC;
	border: none;
}

.login-form .btn-primary:hover{
	background: #0047ff;
	border: none;
}

.login-form .register-now{
	color: #0044CC;
	font-size: .8em;
	margin: 0 0 0 81%;
}

.login-form .register-now:hover{
	color: #0047ff;
	font-size: .8em;
	margin: 0 0 0 81%;
}

.login-form hr{
	margin: 10% 0 4% 0;
}

.login-third{
	color: #000000;
	font-size: .8em;
	margin: 0 0 0 5%;
}

.login-form .weibo-login{
	width: 6%;
	margin: 4% 0 0 6%;
}

.login-form .qq-login{
	width: 5%;
	margin: 4% 0 0 4%;
}

.login-form #username{
	background-image: url("../imgs/icons/input_icons_user_gray.png");
	background-repeat: no-repeat;
	background-position: 1%;
}

.login-form #pwd{
	background-image: url("../imgs/icons/input_icons_pwd_gray.png");
	background-repeat: no-repeat;
	background-position: 1%;
}




/* 轮播图部分 */

.carousel-cantainer{
	margin-top: 1.5%;
}

.carousel-control{
	width: 10%;
	font-size: 5em;
	line-height: 370%;
}

.carousel-indicators{
	height: 2.2%;
	margin-left: 10%;
}

.carousel-p{
	position: absolute;
	margin-top: 35%;
	width: 100%;
	height: 35%;
	font-size: 1.3em;
	line-height: 300%;
	color: #ffffff;
	background: rgba(0,0,0,0.5);
	z-index: 1;
}


/* 侧边图片部分 */

.carousel-cantainer .side-div{
	position: absolute;
	width: 85.5%;
	height: 100%;
	padding: 2%;
	background: rgba(0,0,0,0.4);
}

.side-span a{
	color: #ffffff;
	font-size: 1em;
	margin-top: 20%;
	margin-left: 78%;
}

.side-span h3{
	color: #ffffff;
	text-align: center;
	line-height: 800%;
}

.side-text{
	width: 105%;
	height: 27%;
	background: rgba(51,51,51,0.6);
	margin-top: -2%;
	margin-left: -2.4%;
}

.title{
	position: absolute;
	color: #FFFFFF;
}

.p0{
	position: absolute;
	margin: 3% 0 0 46%;
	padding: 0 0 0 0;
	font-size: 1.6em;
	color: #FFFFFF;
}

.p1,.p2,.p3,.p4{
	position: absolute;
	color: #FFFFFF;
}

.p1{
	margin-top: 9%;
	margin-left: 4%;
	font-size: 1.5em;
}

.p2{
	margin-top: 19%;
	margin-left: 2%;
	font-size: 1em;
}

.p3{
	margin-top: 9%;
	margin-left: 84%;
	font-size: 1.5em;
}

.p4{
	margin-top: 19%;
	margin-left: 81%;
	font-size: 1em;
}

.progress{
	position: absolute;
	width: 57%;
	height: 2%;
	margin-left: 23%;
	margin-top: 13%;
}

.side-img{
	width: 92.7%;
}


/* 主体新闻部分 */




/* 侧边新闻部分 */



/* 页尾部分 */
