/*
 * Written By YuXLan
 */

*{
	padding: 0;
	margin: 0;
}

html,body{
	width: 100%;
	height: 100%;
}

nav{
	width: 75%;
	margin: 2% 12.5% 0 12.5%;
}

nav div{
	margin: 0 12.5% 0 10%;
	display: inline;
}

nav p{
	margin: 3% 0 2% 29%;
	display: inline;
	font-size: .8em;
}

.nav-hr{
	margin-top: 2%;
}

.register-form{
	width: 25%;
	margin: 2% 55% 0 20%;
}

.register-form input{
	width: 80%;
	height: 3em;
	margin: 4% 0 0 2%;
}

.register-form p{
	display: inline;
	margin-left: -37%;
	font-size: .9em;
}

#password{
	margin-left: 2.5%;
}

#read{
	height: .9em;
	margin: 4% 0 0 -26%;
}

.register-form .btn-primary{
	margin-left: 12.5%;
	background: #0044CC;
}

.btn-primary:hover{
	background: #0047ff;
}

.alert{
	width: 17%;
	float: right;
	margin: -19% 18.5% 0 0;
	border-radius: 0 0 0 0;
}

.alert hr{
	background: #000000;
}

.alert-h,.alert-p1{
	color: #000000;
}

.alert-p1{
	font-size: .8em;
}

.alert-p2{
	color: #f18300;
}


/* 登录注册部分 */

.login-form{
	width: 25%;
	height: 55%;
	margin: 10% 0 0 35%;
	background: #FFFFFF;
}

.close{
	margin-right: 5%;
	margin-top: 3%;
}

.login-form h4{
	width: 120%;
	height: 3em;
	background: #FBFBFB;
	border-bottom: 1px solid #F2F2F2;
	text-align: center;
	line-height: 3em;
	padding: 0 0 0 0;
	margin-top: -1%;
}

.login-quikly{
	color: #000000;
	font-size: .9em;
	float: right;
	margin-right: 10%;
}

.login-quikly:hover{
	color: #0047ff;
	font-size: .9em;
	float: right;
	margin-right: 10%;
}

.login-form form{
	margin: 0 0 3% 0;
}


.login-form form input{
	width: 80%;
	height: 3em;
	margin: 5% 10% 0 10%;
}

#remember{
	height: 1em;
	margin: 5% 0 0 0;
	margin-left: -28%;
}

.login-form p{
	display: inline;
	margin-left: -37%;
	font-size: .9em;
}

.login-have-question{
	color: #0044CC;
	font-size: 1em;
	margin-left: 34%;
}

.login-have-question:hover{
	color: #0047ff;
	font-size: 1em;
	margin-left: 34%;
}

.register-now{
	color: #0044CC;
	font-size: .8em;
	margin: 0 0 0 78%;
}

.register-now:hover{
	color: #0047ff;
	font-size: .8em;
	margin: 0 0 0 78%;
}

.login-form hr{
	margin: 10% 0 0 0;
}

.login-third{
	color: #000000;
	font-size: .8em;
	margin: 15% 0 0 5%;
}

.weibo-login{
	width: 6%;
	margin: 4% 0 0 6%;
}

.qq-login{
	width: 5%;
	margin: 4% 0 0 4%;
}

.footer-text{
	color: #0047FF;
	text-align: center;
	font-size: .8em;
	margin-top: 8%;
}
