@charset "utf-8";

/*
 * Written By YuXLan
 */

*{
	padding: 0;
	margin: 0;
}

html,body{
	width: 100%;
	height: 100%;
}

nav{
	width: 75%;
	margin: 2% 12.5% 0 12.5%;
}

nav div{
	margin: 0 12.5% 0 10%;
	display: inline;
}

nav p{
	margin: 3% 0 2% 23%;
	display: inline;
	font-size: .8em;
}

.nav-hr{
	margin-top: 2%;
	width: 100%;
}

.register-form{
	width: 40%;
	margin: 2% 0 0 10%;
}

.register-form input{
	width: 80%;
	height: 3em;
	margin: 4% 0 0 2%;
}

.register-form p{
	display: inline;
	margin-left: -37%;
	font-size: .9em;
}

#password{
	margin-left: 2.5%;
}

#read{
	height: .9em;
	margin: 4% 0 0 -26%;
}

.register-form .btn-primary{
	margin-left: 11%;
}

.alert{
	width: 30%;
	float: right;
	margin: -300px 10% 0 0;
	border-radius: 0 0 0 0;
}

.alert hr{
	background: #000000;
}

.alert-h,.alert-p1{
	color: #000000;
}

.alert-p1{
	font-size: .8em;
}

.alert-p2{
	color: #f18300;
}

.footer-text{
	color: #0047FF;
	text-align: center;
	font-size: .8em;
	margin-top: 8%;
}

/*  登录表单  */

/*  自加样式  */
.modal-body-login-quikly{
	float: right;
	font-size: 12px;
	margin-bottom: 10px;
}

.modal-body-login-quikly:hover,
.modal-body-login-quikly:active{
	color: rgb(27, 102, 199);
}

.form-control-button{
	width: 100%;
	height: 45px;
	margin-top: 7px;
}

#checked{
	margin-top: 13px;
}

.modal-body-a,
.modal-body-a:visited,
.modal-body-a:hover,
.modal-body-a:active{
	float: right;
	margin-top: 13px;
	font-size: 12px;
	color: rgb(27, 102, 199);
}

.modal-footer > p{
	font-size: 12px;
}

.modal-logo-phone{
	width: 15%;
}

.modal-logo-weibo{
	width: 7%;
	margin: 2px 4px 2px 4px;
}

.modal-logo-qq{
	width: 5.5%;
	margin: 2px 0 2px 4px;
}

.form-control-user{
	background-image: url(../imgs/icons/input_icons_user_gray.png);
	background-position-y: center;
	background-repeat: no-repeat;
}

.form-control-pwd{
	background-image: url(../imgs/icons/input_icons_pwd_gray.png);
	background-position-y: center;
	background-repeat: no-repeat;
}


.modal-logo-erweima{
	float: right;
	margin-top: -44px;
}

.modal-logo-zhanghao{
	position: absolute;
	margin-top: -44px;
	margin-left: 158px;
	z-index: 5;
}

.zhanghao-login{
	display: block;
}

.erweima-login{
	display: none;
	text-align: center;
}

.erweima-login-h1{
	font-size: 15px;
}

.erweima-login-h1 > strong > a,
.erweima-login-h1 > strong > a:hover{
	color: #3488ff;
	text-decoration: none;
}

.erweima-login-img{
	width: 125px;
	margin-top: 20px;
}

.erweima-login-p{
	font-size: 12px;
	margin-top: 20px;
	margin-bottom: 60px;
	background: url(../imgs/icons/qrcodetitle.png) no-repeat 85px 0;
}

/*  修改bootstrap  */
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 50px auto;
  }
  .modal-content {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .modal-sm {
    width: 400px;
  }
}
.modal-content {
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.modal-header {
  padding: 8px 20px 8px 20px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #FBFBFB;
}
.modal-header .close {
  margin-top: 8px;
  font-size: 24px;
}
.form-control {
  height: 40px;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-top: 15px;
}
.btn-primary {
  color: #fff;
  background-color: #3f89ec;
  border-color: #3f89ec;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #3a84e8;
  border-color: #3a84e8;
}
.btn-primary:hover {
  color: #fff;
  background-color: #4490f7;
  border-color: #4490f7;
}
.modal-footer {
  text-align: left;
  margin-top: 45px;
}