<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>警告</title>
</head>
<body>


<div class="alert alert-warning">没有管理员权限</div>

    <div class="container" style="width: 100%">
        <ul class="nav nav-pills" style="width:30%; margin: auto;">
            <li>
                <a style="color: #000000">请选择</a>
            </li>
            <li>
                <a href="?c=user&action=login" >管理员账号登录</a>
            </li>
            <li>
                <a style="color: #000000">或者</a>
            </li>
            <li>
                <a href="?c=index">返回百家号首页</a>
            </li>
        </ul>
    </div>

</body>
</html>