<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>footer</title>

        <link rel="stylesheet" href="public/css/footer.css">
    </head>
    <body>
        <footer>

            <table>
                <tr>
                    <td>相关频道：</td>
                    <td>新闻首页</td>
                    <td>个性推荐</td>
                    <td>百度传媒</td>
                    <td>百度新闻客户端</td>
                </tr>
            </table>

            <p>京公网安备11000002000001号 <a href="javascript:;">互联网新闻信息服务许可</a>  ©2017  Baidu  <a href="javascript:;">使用百度前必读</a> <a href="javascript:;">百家协议</a></p>
        </footer>
    </body>
</html>