<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>注册账号</title>

		<!-- 首页自定义样式 -->
		<link rel="stylesheet" href="public/css/register.css" type="text/css" />
	</head>
	<body>

		<!-- 顶部 -->
		<nav>
			<div class="container">
				<div>
					<img src="public/imgs/logos/baidu.gif" />
					<img src="public/imgs/logos/regtext.png" />
				</div>
				<p>我已注册，现在就&nbsp;&nbsp;<button class="btn btn-default" id="btn">登录</button></p>
				<img src="public/imgs/icons/reg_hr.png" class="nav-hr" />
			</div>
		</nav>
		
		<!-- 登录表单 -->

		<div class="modal fade" id="myModal">
			<!--<div id="myModal">-->
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button class="close" type="button" data-dismiss="modal">
							<span>&times;</span>
						</button>
						<h4>登录</h4>
					</div>
					<div class="zhanghao-login">
						<div class="modal-body">
							<a href="javascript:;" class="modal-body-login-quikly"><img src="public/imgs/icons/phone.png" class="modal-logo-phone">&nbsp; 短信快捷登录</a>
							<form action="" method="" id="">
								<input type="text" class="form-control form-control-user"  value="" placeholder="     手机/邮箱/用户名" id="username" />
								<input type="password" class="form-control form-control-pwd" value="" placeholder="     密码" id="pwd" />
								<input type="checkbox" checked="checked" id="checked" />下次自动登录
								<a href="javascript:;" class="modal-body-a">登录遇到问题</a>
								<input type="submit" class="form-control-button btn btn-primary" id="send" name="send" value="登录" />
								<a href="?m=register" class="modal-body-a" target="_blank">立即注册</a>
							</form>
						</div>
						<div class="modal-footer">
							<p>可以使用以下方式登录</p>
							<img src="public/imgs/icons/weibo-login.png" class="modal-logo-weibo" />
							<img src="public/imgs/icons/qq-login.png" class="modal-logo-qq" />
						</div>
						<a class="modal-logo-erweima" href="javascript:;">
							<img src="public/imgs/icons/pass_login_icons_erweima.png">
						</a>
					</div>

					<div class="erweima-login">
						<div class="modal-body">
							<h1 class="erweima-login-h1"><strong>请使用<a>手机百度APP扫码</a>登录</strong></h1>
							<img src="public/imgs/icons/qrcode.png" class="erweima-login-img">
							<p class="erweima-login-p">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;百度技术加密，保障您的隐私安全</p>
						</div>
						<a class="modal-logo-zhanghao" href="javascript:;">
							<img src="public/imgs/icons/pass_login_icons_zhanghao.png">
						</a>
					</div>
				</div>
			</div>
		</div>



		<!-- 注册表单 -->
		<div class="container">
			<form class="register-form" action="" method="" id="">
				<label>用户名</label><input value="" id="username" type="text" placeholder="  请设置用户名" />
				<label>手机号</label><input value="" id="number" type="text" placeholder="  可用于登录和找回密码" />
				<label>验证码</label><input value="" id="captcha" type="text" placeholder="  请输入验证码" />
				<label>密&nbsp;&nbsp; 码</label><input value="" id="password" type="password" placeholder="  请设置登录密码" />
				<input type="checkbox" checked="checked" id="read"/><p>阅读并接受<a href="javascript:;">《百度用户协议》</a></p>
				<input type="submit" value="注册" id="submit" class="btn btn-primary" />
			</form>
			
			<div class="alert alert-info">
				<h5 class="alert-h"><img src="public/imgs/icons/phone.png" /><strong>&nbsp;&nbsp;手机快速注册</strong></h5>
				<hr />
				<p class="alert-p1">请使用中国大陆手机号，编辑短信：</p>
				<p class="alert-p2"><strong>6-14位字符（支持数字/字母/符号）</strong></p>
				<br />
				<p class="alert-p1">作为登录密码，发送至：</p>
				<p class="alert-p2"><strong>1069 0691 036590</strong></p>
				<p class="alert-p1">即可注册成功，手机号即为登录帐号。</p>
			</div>
			
			<div class="footer-text">
				<p>2017@</p>
			</div>
		</div>

		<!-- 自定义操作 -->
		<script src="public/js/operation.js"></script>
	</body>
</html>
